.app_home {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

.app_home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 1rem 0;
}

.app_home-header img {
  height: 100px;
  align-self: flex-start;
  margin-left: 5rem;
}

.app_home-header button {
  height: min-content;
  padding: 1rem 2rem;
  margin-right: 10rem;

  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;

  background-color: salmon;
  color: white;
  border: none;
  cursor: pointer;
}

.app_home-header button:hover {
  color: gainsboro;
}

.app_home-navbar {
  display: flex;
  flex-direction: column;
}

.app_home-navbar_container {
  display: flex;
  background-color: lightslategray;
  justify-content: flex-end;
}

.app_home-navbar_container button {
  display: inline-block;
  position: relative;
  padding: 1rem;
  text-transform: uppercase;
  border: none;
  background-color: lightslategrey;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-right: 3rem;
}
.dropdown_content {
  display: none;
  position: absolute;
  background-color: lightslategrey;
  width: 100%;
  z-index: 1;
}

.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

  cursor: pointer;
}

.dropdown_content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown_content {
  display: block;
}

.app_home-navbar_container button:hover {
  background-color: darkslategrey;
  color: white;
}

.app_home-dashboard_container {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  width: 100vw;
}
