.menu_item_container {
  display: flex;
  width: max-content;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  padding: 1rem 5rem;

  border: 1px solid grey;
  border-radius: 10px;

  max-width: min-content;

  margin: 1rem 2rem;
  cursor: pointer;
}

.menu_item_container:hover {
  background-color: lightcyan;
}

.menu_item_container p {
  font-size: 20px;
  margin: 0 0 1rem 0;
  text-align: center;
}
